/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2563eb;             /* Primary Blue */
  --ifm-color-primary-dark: #1e54d1;
  --ifm-color-primary-darker: #1b4bbd;
  --ifm-color-primary-darkest: #153b96;
  --ifm-color-primary-light: #3b82f6;
  --ifm-color-primary-lighter: #60a5fa;
  --ifm-color-primary-lightest: #93c5fd;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.05);
}



/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3b82f6;
  --ifm-color-primary-dark: #3778e3;
  --ifm-color-primary-darker: #336ed0;
  --ifm-color-primary-darkest: #2b5bb3;
  --ifm-color-primary-light: #60a5fa;
  --ifm-color-primary-lighter: #93c5fd;
  --ifm-color-primary-lightest: #bfdbfe;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);
}
